.charmain-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    gap: 2em;
    justify-content: center;
}

.charcard-section{
    display: flex;
    flex-wrap: wrap;
    
}

